* {
    box-sizing: border-box;
  }

body{
    margin: 0;
    background-color: black;
}

.navbar{
  display: flex;
  align-items: center;
  height: 65px;
  color: white;
  padding: 20px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.navbar--img{
  height: 100%;
  margin-right: 6px;
}

.navbar--title{
  font-size: 1.40rem;
  margin-right: auto;
}

.socials{
  height: 28.1px;
  width: 32.2px;
  margin-right: 10px;
  border-radius: 9px;
}

section{
  padding: 20px;
}

.section--name{
  font-family: "Verdana";
  color: orange;
}

.cards--list{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card{
  width: 30%;    
  display: inline-flex;       
  flex-direction: column;
  position: relative;
  flex: 0 0 auto; 
  margin-right: 30px;
  margin-bottom: 30px;
  margin-left: 16px;
  align-items: center;
}

.card--image{
  width: 100%;
  border-radius: 9px;
  margin-bottom: 3px;
}

.card--title{
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Futura";
  color: white;
}

.card--description{
  font-family: "Georgia";
  font-size: 12px; 
  color: gray;
}

.footer{
  text-align: center;
  background-color: #141414;
  padding: 50px;
}

.footer--contact{
  font-size: 1.2rem;
  color: orange;
}

.footer--email{
  font-size: 1.1rem;
}

a[href^="mailto:"] {
  color: white;
}

.footer--description{
  font-size: 12px;
  margin-top: 80px;
}

.footer--rights{
  color: orange;
}

.footer--designer{
  color: white;
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
  color: orange;
}